/** Tab **/
.sbe-follow-link {
	color: #616161;
	background: #F0F0F0;
}

.sbe-follow-link span {
	background: url("../../images/icon-mail-light.png") no-repeat -2px -3px;
}

.sbe-follow-link:hover {
	color:#0F3647;
}

/** Secondary wrap **/
#sbe-follow-wrap {
	background: #F0F0F0;
	color: #333;
}

#sbe-follow-wrap h2 {
}

#sbe-follow-wrap p {
}

/** Fields **/
.sbe-follow-form-field-title {
}
.sbe-follow-form-field {
    background: #DDD;
    border-color: #A2A2A2;
    color: #333;
}

.sbe-follow-form-field::-webkit-input-placeholder {
    color:    #8A8A8A;
}
.sbe-follow-form-field:-moz-placeholder {
    color:    #8A8A8A;
}
.sbe-follow-form-field::-moz-placeholder {
    color:    #8A8A8A;
}
.sbe-follow-form-field:-ms-input-placeholder {
    color:    #8A8A8A;
}

.sbe-widget-form-field:focus {}

/** Submit button **/
.sbe-follow-form-submit-container {
}
.sbe-follow-form-submit-container .sbe-follow-form-submit {
	border-top: 1px solid #8a8a8a;
	background: #505050;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#505050));
	background: -webkit-linear-gradient(top, #6b6b6b, #505050);
	background: -moz-linear-gradient(top, #6b6b6b, #505050);
	background: -ms-linear-gradient(top, #6b6b6b, #505050);
	background: -o-linear-gradient(top, #6b6b6b, #505050);
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #ffffff;
	border-bottom:1px solid black;
}
.sbe-follow-form-submit-container .sbe-follow-form-submit:hover {
   border-top-color: #212121;
   background: #212121;
   color: #FFF;
}
.sbe-follow-form-submit-container .sbe-follow-form-submit:active {
   border-top-color: #757575;
   background: #757575;
}

/** Errors/updates **/
.sbe-follow-error {
	background: #B62B2B;
	color:white;
}
.sbe-follow-updated {}