i.mce-i-mce-i-sbe {
	position: relative;
}

i.mce-i-mce-i-sbe:before {
	font-family: 'dashicons';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "\f466";
	font-size:20px;
}
