.sbe-widget-subscribe-form {
	vertical-align: middle;
}

.sbe-widget-subscribe-form .sbe-spinner {
	/**display: none;**/
	vertical-align: middle;
	visibility:hidden;
}

.sbe-widget-subscribe-form .sbe-spinner {
	background: url(../../images/ajax-loader.gif) no-repeat;
	background-size: 20px 20px;
	opacity: .7;
	filter: alpha(opacity=70);
	width: 20px;
	height: 20px;
	margin: 2px 5px 0;
	display: inline-block;

}

/** Text at the top of the form (defined by user in widget options) **/
.sbe-widget-top-text {}

/** Errors, updates **/
.sbe-widget-error,.sbe-widget-updated {
	width: 97%;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.sbe-widget-error {
	background-color: #FFEBE8;
	border-color: #C00;
	color:black;
}

.sbe-widget-updated {
	background-color: #DEFFCC;
	border-color: #60B854;
	color:black;
}

/** Form field title **/
.sbe-widget-form-field-title {
	margin-bottom:10px;
}

/** Form field **/
.sbe-widget-form-field {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding:8px;
	margin-bottom:20px;
	display:block;
}
.sbe-widget-form-field:focus {}

/** Submit button **/
.sbe-widget-form-submit-container {
	margin:8px 0;
   	text-align:right;
}
.sbe-widget-form-submit {
	border: 1px solid #447314;
	text-decoration: none;
	vertical-align: middle;
}

/** Subscribers counter **/
.sbe-widget-subscribers-count {
	text-align:right;
}
.sbe-widget-screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important;
}
