#sbe-follow {
	z-index: 999000;
	position: fixed;

	margin-right: 10%;
	
	right: 0px;
	bottom: 0px;
}

.sbe-follow-link {
	border-radius: 3px;
	display: block;
	padding: 10px 10px 16px 10px;
	float: left;
	text-decoration: none !important;
	font-family:proxima-nova-soft, Verdana, sans-serif;
	color: #00c5ff;
	border: 0;
	line-height: 14px;
	font-size:15px;
	background: #1f242a;
	outline-style: none;
	outline-width: 0;
	z-index: 10;
}

.sbe-follow-link span {
	padding-bottom: 13px;
	display: inline-block;
	padding-left: 23px;
	background: url("../images/icon-mail.png") no-repeat -2px -3px;
}

.sbe-follow-link:hover {
	color:#FEFEFE;
}

#sbe-follow-wrap {
	background: #1f242a;
	color: #FFF;
	padding: 15px;
	width: 200px;
	margin-top: 37px;
	-moz-border-radius: 2px 0 0 0;
	-webkit-border-radius: 2px 0 0 0;
	-o-border-radius: 2px 0 0 0;
	-ms-border-radius: 2px 0 0 0;
	border-radius: ç;
	z-index: 999999;
	position: relative;
	line-height: 25px;
}

#sbe-follow-wrap h2 {
    font-size: 18px;

    margin-bottom: 0.7em;
}

#sbe-follow-wrap p {
    margin: 0.5em 0;

}

#sbe-follow-wrap input[type=email],
#sbe-follow-wrap input[type=text],
#sbe-follow-wrap textarea {
    background: #9C9C9C;
    border-color: #494949;
    color: white;
    outline: none;
    width:94%;
    box-sizing: border-box;
	padding: 3px 6px;
}
#sbe-follow-wrap input[type=email]::-webkit-input-placeholder, /* WebKit browsers */
#sbe-follow-wrap input[type=text]::-webkit-input-placeholder, /* WebKit browsers */
#sbe-follow-wrap textarea::-webkit-input-placeholder {
    color:    #FFF;
}
#sbe-follow-wrap input[type=email]:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
#sbe-follow-wrap input[type=text]:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
#sbe-follow-wrap textarea:-moz-placeholder {
    color:    #FFF;
}
#sbe-follow-wrap input[type=email]::-moz-placeholder, /* Mozilla Firefox 19+ */
#sbe-follow-wrap input[type=text]::-moz-placeholder, /* Mozilla Firefox 19+ */
#sbe-follow-wrap textarea::-moz-placeholder {
    color:    #FFF;
}
#sbe-follow-wrap input[type=email]:-ms-input-placeholder, /* Internet Explorer 10+ */
#sbe-follow-wrap input[type=text]:-ms-input-placeholder, /* Internet Explorer 10+ */
#sbe-follow-wrap textarea:-ms-input-placeholder {
    color:    #FFF;
}

#sbe-follow-wrap input[type=submit] {
	padding: 5px 10px;
	line-height: 1.0;
	font-weight: normal;
	font-size: 12px;
   border-top: 1px solid #8a8a8a;
   background: #505050;
   background: -webkit-gradient(linear, left top, left bottom, from(#6b6b6b), to(#505050));
   background: -webkit-linear-gradient(top, #6b6b6b, #505050);
   background: -moz-linear-gradient(top, #6b6b6b, #505050);
   background: -ms-linear-gradient(top, #6b6b6b, #505050);
   background: -o-linear-gradient(top, #6b6b6b, #505050);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   text-decoration: none;
   vertical-align: middle;
   box-shadow:none;
   border-bottom:1px solid black;
   border-left:none;
   border-right:none;
   cursor: pointer;
}
#sbe-follow-wrap input[type=submit]:hover {
   border-top-color: #212121;
   background: #212121;
   color: #FFF;
}
#sbe-follow-wrap input[type=submit]:active {
   border-top-color: #757575;
   background: #757575;
}