#icon-sbe {
	background: transparent url( '../images/icon32.png' ) no-repeat ;
}

#toplevel_page_sbe-subscribers .wp-menu-image {
	background: transparent url( '../images/icons.png' ) no-repeat 0px -27px;
}

#toplevel_page_sbe-subscribers.wp-has-current-submenu .wp-menu-image,
#toplevel_page_sbe-subscribers:hover .wp-menu-image {
	background: transparent url( '../images/icons.png' ) no-repeat 0px -0px;
}