@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

#adminmenu #toplevel_page_sbe-subscribers div.wp-menu-image {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#adminmenu #toplevel_page_sbe-subscribers div.wp-menu-image:before {
  	font-family: 'icomoon' !important;
	content: "\e601";
	font-size: 16px !important;
}

#adminmenu #toplevel_page_sbe-subscribers div.wp-menu-image img {
  display: none;
}