.taxonomies-list li {
	list-style: none;
	float: left;
	width: 200px;
	max-width:200px;
}

.taxonomies-box {
}

.post-type-box {
	border-bottom:1px solid #DEDEDE;
	margin-bottom:30px;
	padding-bottom:30px;
}

.sbe-saved {
	padding: 10px;
	background: #ADDDAD;
	border: 1px solid green;
}