#extra-fields-list {
	margin-top:20px;
	max-width:700px;
}

#extra-fields-list span {
	margin-right:25px;
}

#extra-fields-list .spinner {
	float:none;
	display:block;
	visibility: hidden;
	margin-bottom:10px;
}

#extra-fields-list table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}


#extra-fields-list table td {
	vertical-align:middle;
	margin-bottom:1px;
	padding:7px;
	background-color:#F1F1F1;
	border-bottom:3px solid #FFF;
}

#extra-fields-list .extra-field-item-edit a {
	text-decoration: none;
	font-weight: bold;
}

#extra-fields-list .extra-field-item-title {

}

#extra-fields-list .extra-field-item:hover .extra-field-item-move {
	background:url('../images/move.png') no-repeat 0 4px #fff;
	cursor:move;
}

#extra-fields-list .extra-field-item:hover td {
	background:#fff;
}

#extra-fields-list .extra-field-item-move {
}

